*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    background:#f1f1f1;
    font-family:'Montserrat', sans-serif;
}

.container{
    width:100%;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#0d2356;
    color:#d7ff2f;
    padding:20px;
    height:100vh;

    position:fixed;
    top:0;
    left:0;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:40px;
}

.logo img{
    width:55px;
    height:55px;
    border-radius:50%;
    background:white;
    object-fit:cover;
}

.logo-text{
    display:flex;
    flex-direction:column;
    line-height:1.1;
}

.logo-text span{
    color:#d7ff2f;
    font-size:18px;
    font-weight:700;
}

.menu{
    list-style:none;
}

.menu li{
    margin:25px 0;
}

.menu a{
    text-decoration:none;
    color:white;
    display:flex;
    align-items:center;
    gap:12px;
    font-size:16px;
}

.menu a:hover{
    color:#ffd700;
}

/* CONTENIDO */
.content{
    margin-left:260px;
    padding:25px;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-bottom:20px;
}

.user{
    display:flex;
    align-items:center;
    gap:10px;
}

.user img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}

/* HERO */

.hero{
    background:white;
    border-radius:15px;
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}

.hero-text h1{
    font-size:55px;
    font-weight:800;
    line-height:1.1;
    color:black;
}

.hero-text h1 span{
    color:#3b82c4;
}
.hero-text p{
    color:#555;
    line-height:1.6;
}

.hero-image img{
    width:380px;
}

/* FORMULARIO */
.comentario-box{
    width:90%;
    margin:30px auto;
    background:#b7c2d9;
    padding:30px;
    border-radius:15px;
}

.comentario-box h2{
    text-align:center;
    font-size:48px;
    font-weight:800;
    margin-bottom:25px;
}

form input,
form textarea{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    margin-bottom:15px;
    background:#7f92bc;
    color:white;
}

form input::placeholder,
form textarea::placeholder{
    color:#dbe1f0;
}

.row{
    display:flex;
    gap:10px;
}

.row input{
    flex:1;
}

textarea{
    height:120px;
    resize:none;
}

button{
    background:#18386f;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    opacity:0.9;
}

.mensaje{
    margin-top:20px;
    background:#d8f7ff;
    padding:15px;
    border-radius:10px;
}

/* OPINIONES */

.opiniones{
    margin-top:40px;
}

.opiniones h2{
    margin-bottom:20px;
}

.card{
    background:#e9eefc;
    border-radius:12px;
    padding:15px;
    display:flex;
    gap:15px;
    margin-bottom:15px;
}

.card img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
}

.card p{
    margin-bottom:8px;
}

/* OPINIONES ESTILO FIGMA */

.opiniones{
    margin-top:50px;
}

.opiniones h2{
    text-align:center;
    font-size:48px;
    margin-bottom:30px;
    color:black;
}

.opiniones-container{
    background:#d8dbe5;
    padding:30px;
    border-radius:15px;
}

.card-opinion{
    background:#bcc2d6;
    border-radius:10px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:22px;
}

.card-opinion img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}

.texto{
    flex:1;
}

.texto p{
    font-size:16px;
    font-weight:600;
    color:#111;
    margin-bottom:15px;
}

.info{
    display:flex;
    gap:60px;
    font-weight:bold;
    color:#24355f;
}

.estrellas{
    color:gold;
    font-size:24px;
    white-space:nowrap;
}

.menu{
    list-style:none;
    margin-top:30px;
}

.menu li{
    margin:18px 0;
}

.menu li a{
    display:flex;
    align-items:center;
    gap:15px;
    color:white;
    text-decoration:none;
    padding:14px 18px;
    border-radius:15px;
    font-size:16px;
    font-weight:600;
    transition:0.3s;
}

.menu li a i{
    font-size:20px;
    width:25px;
}

/* Botón activo */
.menu li.active a{
    background:#ececec;
    color:#132c6b;
}

/* Hover */
.menu li a:hover{
    background:rgba(255,255,255,0.15);
}

/* Títulos sin Montserrat */

.hero-text h1,
.comentario-box h2,
.opiniones h2{
    font-family: Arial, Helvetica, sans-serif;
}