body {
    display:flex;
    background-image:url("../img/WhatsApp Image 2026-05-03 at 5.58.08 PM.jpeg");
    background-size:cover;
    background-position:center;
}


/* CONTENEDOR PRINCIPAL (divide en 2 columnas) */
.contenedor {
    display: flex;
    gap: 40px;
    width: 80%;
    margin: 50px auto;
}

/* CARD FOTO */
.card-foto {
    width: 30%;
    background: white;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card-foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card-foto p {
    word-break: break-word;
    overflow-wrap: break-word;
    
 background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;

}



/* CARD FORMULARIO */
.card-form {
    width: 70%;
    background: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* ASEGURAR QUE FORM NO ROMPA */
form {
    display: block;
}

/* CADA CAMPO (fila) */
.campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px; /* ✅ más separación */
    gap: 20px;
}

/* LABEL (verde) */
.campo label {
    width: 40%;
    background: #cde3df;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

/* INPUT (gris) */
.campo input {
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #ddd;
}

/* EFECTO AL ESCRIBIR (pro 🔥) */
.campo input:focus {
    outline: 2px solid #ff6a00;
}

/* BOTÓN */
.guardar {
    background: #ff6a00;
    color: white;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    float: right;
    transition: 0.3s;
}

.guardar:hover {
    transform: scale(1.05);
}
