/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* FOOTER */
.footer{
    width:100%;
    background:#062b63;
    position:relative;
    overflow:hidden;
    padding-top:25px;
}

/* CONTENEDOR */
.footer-container{
    max-width:1600px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:30px;
    padding:20px 50px 100px;
    flex-wrap:wrap;
}

/* ROBOT */
.footer-robot img{
    width:170px;
    display:block;
}

/* GLOBO */
.footer-bubble{
    background:#d6eafc;
    padding:18px 25px;
    border-radius:25px;
    color:#163a6b;
    min-width:220px;
    text-align:center;
}

.footer-bubble h3{
    font-size:24px;
    margin-bottom:8px;
}

.footer-bubble p{
    font-size:18px;
}

/* LOGO */
.footer-brand{
    text-align:center;
    color:white;
}

.footer-brand img{
    width:300px;
    margin-bottom:10px;
}

.footer-brand p{
    font-size:16px;
    opacity:.9;
}

/* INFO */
.footer-info{
    display:flex;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.info-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    color:white;
    min-width:150px;
    padding:0 20px;
    border-left:1px solid rgba(255,255,255,.2);
}

.info-item:first-child{
    border-left:none;
}

.info-item i{
    width:70px;
    height:70px;
    border:2px solid rgba(255,255,255,.4);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    margin-bottom:15px;
}

/* NUBES */
.footer-clouds{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:90px;
    background:
    radial-gradient(circle at 50px 50px,#84bdf5 45px,transparent 46px),
    radial-gradient(circle at 150px 40px,#84bdf5 50px,transparent 51px),
    radial-gradient(circle at 260px 50px,#84bdf5 45px,transparent 46px),
    radial-gradient(circle at 370px 45px,#84bdf5 50px,transparent 51px),
    radial-gradient(circle at 500px 50px,#84bdf5 45px,transparent 46px);
    background-size:550px 100px;
    background-repeat:repeat-x;
}

/* RESPONSIVE */
@media(max-width:1100px){

    .footer-container{
        justify-content:center;
        text-align:center;
    }

    .footer-info{
        justify-content:center;
    }

    .info-item{
        border:none;
    }
}

@media(max-width:768px){

    .footer{
        padding-top:15px;
    }

    .footer-container{
        padding:20px 20px 100px;
        flex-direction:column;
    }

    .footer-robot img{
        width:130px;
    }

    .footer-brand img{
        width:220px;
    }

    .footer-info{
        flex-direction:column;
        gap:25px;
    }
}