
.footer{
    background:#17356f;
    color:white;
    padding:50px 40px;
    margin-top:50px;
}

/* PARTE SUPERIOR */

.footer-top{
    max-width:1200px;
    margin:auto;
    position:relative;
    min-height:180px;
}

/* BURBUJA CENTRADA */

.footer-bubble{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    
    background:#d7eaff;
    color:#20497d;
    
    padding:25px 40px;
    border-radius:25px;
    
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.footer-bubble h3{
    margin:0;
    font-size:2.5rem;
    font-weight:700;
}

.footer-bubble p{
    margin-top:10px;
    font-size:1.2rem;
}

/* LOGO DERECHA */

.footer-brand{
    position:absolute;
    right:0;
    top:15px;
    
    width:250px;
    text-align:center;
}

.footer-brand img{
    width:120px;
    height:auto;
    margin-bottom:10px;
}

.footer-brand p{
    margin:0;
    line-height:1.5;
    font-size:1rem;
}

/* LINEA */

.footer-divider{
    width:100%;
    max-width:1200px;
    height:1px;
    background:rgba(255,255,255,.2);
    margin:30px auto 40px;
}

/* INFO */

.footer-info{
    max-width:1000px;
    margin:auto;

    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:20px;
}

.info-item{
    text-align:center;
}

.info-item i{
    width:70px;
    height:70px;

    border:2px solid rgba(255,255,255,.4);
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:28px;
    margin:0 auto 15px;
}

.info-item span{
    font-size:1rem;
}

/* RESPONSIVE */

@media(max-width:900px){

    .footer-top{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:30px;
        min-height:auto;
    }

    .footer-bubble,
    .footer-brand{
        position:static;
        transform:none;
    }

    .footer-brand{
        width:auto;
    }

    .footer-info{
        flex-direction:column;
        gap:30px;
    }
}
.footer-brand img {
  filter: hue-rotate(180deg) saturate(120%);
}
