
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Montserrat',sans-serif;
    background:#F2F2F2;
    color:#2C4B66;
    overflow-x:hidden;
    min-height:100vh;
}

.btn-regresar{
    position: fixed;
    top: 25px;
    left: 25px;

    display: flex;
    align-items: center;
    gap: 8px;

    background: #2F4F6F;
    color: #fff;
    text-decoration: none;

    padding: 12px 20px;
    border-radius: 50px;

    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 8px 20px rgba(47,79,111,.20);

    transition: all .3s ease;
    z-index: 1000;
}

.btn-regresar:hover{
    background: #9DD8E5;
    color: #2F4F6F;
    transform: translateY(-2px);
    box-shadow: 0 12px 24px rgba(47,79,111,.25);
}

.btn-regresar i{
    font-size: 16px;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/*=========================
        SIDEBAR
=========================*/

.sidebar{
    width:250px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;

    display:flex;
    flex-direction:column;

    padding:20px 0;

    background:linear-gradient(to bottom,#081847,#081847);

    box-shadow:5px 0 20px rgba(0,0,0,.25);

    transition:.3s ease;

    overflow-y:auto;
    overflow-x:hidden;
}

.logo{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 20px;
    margin-bottom:35px;
}

.logo img{
    width:100% !important;
    max-width:160px !important;
    height:auto !important;
    object-fit:contain !important;

    display:block !important;

    mix-blend-mode:normal !important;
    filter:brightness(0) invert(1);
}

.menu{
    list-style:none;
    padding:0;
    margin:0;
}

.menu li{
    margin:8px 15px;
    border-radius:14px;
    overflow:hidden;
    transition:.3s ease;
}

.menu li a{
    display:flex;
    align-items:center;
    gap:15px;

    padding:14px 20px;

    color:#fff;
    font-size:15px;
    font-weight:500;

    transition:.3s ease;
}

.menu li:hover{
    background:rgba(255,255,255,.15);
    transform:translateX(8px);
}

.menu li.active{
    background:#fff;
}

.menu li.active a{
    color:#081847;
    font-weight:700;
}

.quote{
    margin-top:auto;
    margin-inline:18px;

    padding:18px;

    background:rgba(255,255,255,.08);

    border-radius:18px;

    color:#fff;
}

.quote p{
    margin-bottom:10px;
    line-height:1.6;
    word-wrap:break-word;
    transition:opacity .3s ease;
}

.quote small{
    color:#d7d7d7;
}

/*=========================
        CONTENIDO
=========================*/

.main-content{
    margin-left:250px;
    padding:20px;
    min-height:100vh;
}

.content{
    margin-left:250px;
    width:calc(100% - 250px);
    min-height:100vh;
    padding:20px 40px 40px;
}

/*=========================
      TOP NAVBAR
=========================*/

.top-navbar{
    position:relative;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    width:100%;

    padding-right:5px;

    margin-bottom:20px;
}

.top-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.btn-login{
    background:#ffc400;
    color:#000;

    padding:12px 24px;

    border-radius:30px;

    font-weight:600;

    transition:.3s;
}

.btn-login:hover{
    background:#ffcf33;
}

.btn-signup{
    background:transparent;

    border:2px solid #ffc400;

    color:#ffc400;

    padding:11px 24px;

    border-radius:30px;

    font-weight:600;

    transition:.3s;
}

.btn-signup:hover{
    background:#ffc400;
    color:#000;
}

/*=========================
      USER DROPDOWN
=========================*/

.user-dropdown{
    position:relative;
}

.user-trigger{
    display:flex;
    align-items:center;
    gap:12px;

    cursor:pointer;

    padding:10px 15px;

    background:#fff;

    border-radius:12px;

    box-shadow:0 4px 15px rgba(0,0,0,.1);

    transition:.2s;
}

.user-trigger:hover{
    background:#f7f7f7;
}

.avatar{
    width:42px;
    height:42px;

    border-radius:50%;

    background:linear-gradient(135deg,#1d5060,#1d5060);

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;

    box-shadow:0 5px 15px rgba(124,58,237,.4);
}

.username{
    color:#081847;
    font-weight:600;
}

.custom-dropdown{
    width:250px;

    border:none;

    border-radius:15px;

    overflow:hidden;

    margin-top:12px;

    box-shadow:0 20px 40px rgba(0,0,0,.2);
}

.dropdown-header-user{
    background:linear-gradient(135deg,#7c3aed,#1d5060);

    color:#fff;

    display:flex;
    align-items:center;
    gap:12px;

    padding:15px;
}

.avatar-lg{
    width:50px;
    height:50px;

    border-radius:50%;

    background:rgba(255,255,255,.2);

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;
}

.name{
    font-size:15px;
    font-weight:bold;
}

.sub{
    font-size:13px;
    opacity:.8;
}

.dropdown-item{
    padding:12px 15px;
    transition:.2s;
}

.dropdown-item i{
    margin-right:8px;
}

.dropdown-item:hover{
    background:#f8fafc;
}

.logout{
    color:#dc2626 !important;
}

.logout:hover{
    background:#dc2626 !important;
    color:#fff !important;
}
/*==================================================
                    HERO
==================================================*/

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    margin-bottom:60px;
}

.hero-text{
    flex:1;
}

.hero h1{
    font-size:58px;
    color:#2C4B66;
    font-weight:700;
    line-height:1.1;
}

.hero p{
    margin-top:10px;
    color:#555;
    line-height:1.7;
    font-size:17px;
}

.line{
    width:220px;
    height:8px;
    background:#94CED7;
    border-radius:20px;
    margin:20px 0;
}

.description{
    width:430px;
    background:#fff;
    padding:18px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(44,75,102,.08);
    line-height:1.7;
    color:#555;
}

.hero img{
    width:300px;
    animation:float 4s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}

section{
    margin-bottom:60px;
}

h2{
    font-size:38px;
    color:#2C4B66;
    margin-bottom:25px;
    font-weight:700;
}

/*==================================================
                TARJETAS
==================================================*/

.cards{
    display:grid;
    grid-template-columns:repeat(2,minmax(320px,1fr));
    gap:25px;
    margin-top:30px;
}

.card{
    display:flex;
    align-items:flex-start;
    gap:20px;

    background:#fff;

    padding:25px;

    border-radius:20px;

    box-shadow:0 8px 18px rgba(44,75,102,.08);

    transition:.35s ease;
}

.card:hover{
    transform:translateY(-8px);

    box-shadow:0 18px 35px rgba(44,75,102,.15);
}

.icon{
    width:68px;
    height:68px;

    border-radius:50%;

    background:#E7F6F8;

    color:#2C4B66;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:25px;

    flex-shrink:0;
}

.card-text{
    flex:1;
}

.card-text h3{
    font-size:25px;
    color:#2C4B66;
    margin-bottom:12px;
}

.card-text p{
    color:#555;
    line-height:1.8;
}

.underline{
    width:65px;
    height:5px;
    border-radius:20px;
    margin-bottom:15px;
}

.purple{
    background:#2C4B66;
}

.pink{
    background:#94CED7;
}

.blue{
    background:#2C4B66;
}

.yellow{
    background:#94CED7;
}

/*==================================================
            SECCIÓN PSICÓLOGAS
==================================================*/

.sub{
    color:#666;
    margin-bottom:25px;
}

.psychologists{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.psych-card{
    background:#fff;

    border:2px solid #94CED7;

    border-radius:20px;

    padding:25px;

    text-align:center;

    transition:.35s ease;

    box-shadow:0 8px 18px rgba(44,75,102,.08);
}

.psych-card:hover{
    transform:translateY(-10px);

    box-shadow:0 18px 30px rgba(44,75,102,.16);
}

.img-container{
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    margin-bottom:20px;
}

.img-container img{
    width:125px;
    height:125px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #94CED7;
}

.mail-icon{
    position:absolute;

    right:12px;
    bottom:0;

    width:38px;
    height:38px;

    border-radius:50%;

    background:#2C4B66;

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    transition:.3s;
}

.mail-icon:hover{
    background:#1d5060;
    transform:scale(1.08);
}

.psych-card h3{
    font-size:22px;
    margin-bottom:8px;
    color:#2C4B66;
}

.psych-card span{
    display:block;

    color:#94CED7;

    font-weight:600;

    margin-bottom:10px;
}

.psych-card hr{
    border:none;

    height:1px;

    background:#D9E7EA;

    margin:18px 0;
}

.psych-card p{
    color:#555;
    line-height:1.7;
    font-size:15px;
}
/*==================================================
                AGENDA DE CITA
==================================================*/

.appointment{
    margin-top:50px;

    background:#2C4B66;

    border-radius:22px;

    padding:35px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:25px;

    box-shadow:0 12px 25px rgba(44,75,102,.18);
}

.appointment div{
    flex:1;
}

.appointment h4{
    font-size:30px;
    color:#FFF;
    margin-bottom:12px;
}

.appointment p{
    color:#E7F6F8;
    line-height:1.8;
    font-size:16px;
}

/*==================================================
                    BOTONES
==================================================*/

.btn{
    display:flex;
    justify-content:space-between;
    align-items:center;

    width:250px;
    height:60px;

    padding:0 28px;

    background:#94CED7;

    color:#2C4B66;

    border:none;
    border-radius:15px;

    font-size:18px;
    font-weight:600;

    cursor:pointer;

    transition:.35s ease;
}

.btn:hover{

    background:#FFF;

    transform:translateY(-4px);

    box-shadow:0 12px 22px rgba(0,0,0,.18);

}

.btn i{

    font-size:20px;

}

/*==================================================
                TÍTULOS
==================================================*/

h1,
h2,
h3,
h4,
h5,
h6{

    font-family:Arial, Helvetica, sans-serif;

    font-weight:700;

    color:#2C4B66;

}

strong{

    font-weight:700;

}

p{

    line-height:1.7;

}

/*==================================================
            TRANSICIONES
==================================================*/

button,
a,
.card,
.psych-card,
.menu li,
.btn,
.mail-icon{

    transition:.3s ease;

}

/*==================================================
            TABLET GRANDE
==================================================*/

@media(max-width:1100px){

    .hero{

        flex-direction:column;

        text-align:center;

        gap:35px;

    }

    .hero-text{

        width:100%;

    }

    .hero img{

        width:260px;

    }

    .line{

        margin:20px auto;

    }

    .description{

        width:100%;
        max-width:550px;

        margin:auto;

    }

    .cards{

        grid-template-columns:1fr;

    }

    .psychologists{

        grid-template-columns:repeat(2,1fr);

    }

}

/*==================================================
                TABLET
==================================================*/

@media(max-width:900px){

    .sidebar{

        width:80px;

        padding:18px 0;

    }

    .logo{

        margin-bottom:25px;

    }

    .logo img{

        max-width:50px !important;

    }

    .menu li{

        margin:8px;

    }

    .menu li a{

        justify-content:center;

        padding:16px 0;

        gap:0;

    }

    .menu li span{

        display:none;

    }

    .quote{

        display:none;

    }

    .content{

        margin-left:80px;

        width:calc(100% - 80px);

        padding:25px;

    }

    .main-content{

        margin-left:80px;

    }

    .top-navbar{

        margin-bottom:30px;

    }

    .hero{

        gap:30px;

    }

    .hero h1{

        font-size:46px;

    }

    h2{

        font-size:33px;

        text-align:center;

    }

    .card{

        padding:22px;

    }

    .appointment{

        flex-direction:column;

        text-align:center;

        padding:28px;

    }

    .btn{

        width:100%;
        max-width:260px;

    }

}
/*==================================================
                CELULARES
==================================================*/

@media (max-width:600px){

    .sidebar{
        width:70px;
        padding:15px 0;
    }

    .logo{
        padding:0;
        margin-bottom:20px;
    }

    .logo img{
        max-width:42px !important;
    }

    .menu li{
        margin:8px 6px;
    }

    .menu li a{
        justify-content:center;
        padding:15px 0;
        gap:0;
    }

    .menu li span,
    .quote{
        display:none;
    }

    .content{
        margin-left:70px;
        width:calc(100% - 70px);
        padding:18px 15px;
    }

    .main-content{
        margin-left:70px;
        padding:18px 15px;
    }

    .top-navbar{
        justify-content:center;
        flex-wrap:wrap;
        gap:12px;
        margin-bottom:20px;
    }

    .top-right{
        width:100%;
        justify-content:center;
        flex-wrap:wrap;
        gap:10px;
    }

    .btn-login,
    .btn-signup{
        padding:10px 18px;
        font-size:14px;
    }

    .user-trigger{
        width:100%;
        justify-content:center;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        gap:25px;
        margin-bottom:45px;
    }

    .hero img{
        width:210px;
        margin:auto;
    }

    .hero h1{
        font-size:38px;
        line-height:1.15;
    }

    .hero p{
        font-size:15px;
    }

    .line{
        width:120px;
        height:6px;
        margin:18px auto;
    }

    .description{
        width:100%;
        max-width:100%;
        padding:18px;
        border-radius:15px;
    }

    h2{
        font-size:30px;
        text-align:center;
    }

    .cards{
        display:flex;
        flex-direction:column;
        gap:18px;
    }

    .card{
        flex-direction:column;
        align-items:center;
        text-align:center;
        padding:22px;
    }

    .icon{
        width:72px;
        height:72px;
        font-size:28px;
        margin-bottom:10px;
    }

    .card-text h3{
        font-size:22px;
    }

    .card-text p{
        font-size:15px;
    }

    .underline{
        margin:0 auto 15px;
    }

    .psychologists{
        grid-template-columns:1fr;
        gap:20px;
    }

    .psych-card{
        padding:22px;
    }

    .img-container img{
        width:110px;
        height:110px;
    }

    .appointment{
        padding:24px 20px;
        gap:20px;
    }

    .appointment h4{
        font-size:25px;
    }

    .appointment p{
        font-size:15px;
    }

    .btn{
        width:100%;
        max-width:260px;
        margin:auto;
    }

}

/*==================================================
            PANTALLAS MUY GRANDES
==================================================*/

@media (min-width:1500px){

    .content{
        max-width:1500px;
        margin-left:250px;
        padding:35px 60px 60px;
    }

    .hero h1{
        font-size:64px;
    }

    .cards{
        gap:30px;
    }

    .psychologists{
        gap:30px;
    }

}

/*==================================================
                UTILIDADES
==================================================*/

.text-center{
    text-align:center;
}

.mt-1{margin-top:10px;}
.mt-2{margin-top:20px;}
.mt-3{margin-top:30px;}
.mt-4{margin-top:40px;}

.mb-1{margin-bottom:10px;}
.mb-2{margin-bottom:20px;}
.mb-3{margin-bottom:30px;}
.mb-4{margin-bottom:40px;}

.shadow{
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.rounded{
    border-radius:20px;
}

.hidden{
    display:none !important;
}

.fade{
    transition:.3s ease;
}

/*==================================================
                    FIN
==================================================*/